/* line 152, icon/*.png */

.icon-sprite,
.icon-arrow_down,
.icon-cb_check,
.icon-cb_disable,
.icon-cb_uncheck,
.icon-icon-close,
.icon-input_icons,
.icon-next,
.icon-prev,
.icon-radio_check,
.icon-radio_disable,
.icon-radio_uncheck,
.icon-rating_stars {
    background-image: url('images/icon-s38a8e3f62a.png');
    background-repeat: no-repeat;
}
/* line 84, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */

.icon-arrow_down {
    background-position: 0 -40px;
}
/* line 84, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */

.icon-cb_check {
    background-position: 0 -150px;
}
/* line 84, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */

.icon-cb_disable {
    background-position: 0 -90px;
}
/* line 84, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */

.icon-cb_uncheck {
    background-position: 0 -120px;
}
/* line 84, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */

.icon-icon-close {
    background-position: 0 -60px;
}
/* line 84, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */

.icon-input_icons {
    background-position: 0 -20px;
}
/* line 84, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */

.icon-next {
    background-position: -32px -40px;
}
/* line 59, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */

.icon-next:hover,
.icon-next.next-hover {
    background-position: -60px 0;
}
/* line 84, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */

.icon-prev {
    background-position: -52px -40px;
}
/* line 59, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */

.icon-prev:hover,
.icon-prev.prev-hover {
    background-position: -12px -40px;
}
/* line 84, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */

.icon-radio_check {
    background-position: -30px -60px;
}
/* line 84, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */

.icon-radio_disable {
    background-position: -30px -90px;
}
/* line 84, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */

.icon-radio_uncheck {
    background-position: -30px -150px;
}
/* line 84, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */

.icon-rating_stars {
    background-position: 0 0;
}
/* line 8, ../sass/hui.accordion.scss */

.hui-accordion h3 {
    background-color: #eee;
    margin: 0;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}
/* line 20, ../sass/hui.accordion.scss */

.hui-accordion-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 32px;
    color: #606060;
    border-bottom: 1px solid #F1F1F1;
    margin-bottom: 0;
    cursor: pointer;
    padding: 10px 0;
    display: block;
    height: 40px;
    position: relative;
}

.hui-arrow {
    background: url(http://res.c.hjfile.cn/images/myclass_icons.png?v=2015121) no-repeat;
    height: 31px;
    width: 28px;
    background-position: -82px -143px;
    margin-top: 7px;
    position: absolute;
    right: 10px;
}

.on .hui-arrow {
    background-position: -82px -167px;
}

.hui-content {
    display: none;
    background: #f9f9f9;
    margin: 0;
    overflow: hidden;
    padding: 10px 0;
    border-bottom: 1px solid #f1f1f1;
}
